html {
    margin: 0;
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    padding: 3vh 3vw;
}

.rrect {
    width: 80vw;
    min-height: auto;
    border-radius: 2rem;
    padding: 3vh 3vw;
    background-color: #019601;
}

h2, p {
    color: white;
}